:root {
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ELEMENTOS BASE */

body {
   background: var(--preta);
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}

header .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header .logo {
    font-family: 'Arial Black', Times;
    font-size: 40px;
    color: var(--vermelho);
    margin-left: 10px;
}


header nav a{
    text-decoration: none;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: large;
    margin-right: 10px;
    transition: .3s ease all;
}

header nav a:hover{
    color: #AAA;
}


header .netflix-logo {
    margin: 15px;
    width: 8%;
}

/*  FILME PRINCIPAL  */ 

.filme-principal {
    
    display: flex;
    font-size: 16px;
    background: linear-gradient(to top,var(--preta), rgba(0, 0, 0, 0)60%), url("/img/capa-velozes-2.jpg");

    height: 25em;
    background-size: cover;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    
}

.filme-principal .sinopse {
    margin-top: 10px;
    margin-bottom: 3rem;
    margin-right: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filme-principal .titulo {
    font-size: 52px;
    font-family:  Impact, Haettenschweiler, 'Arial Bold', sans-serif;
    font-style: italic;
    margin-top: 5%;
}


.botaoPlay {
    background-color: rgba(255, 255, 255, .9);
    border: none;
    color: black;
    border-radius: 4px;

    font-size: 18px;
    padding: 15px 30px;
    margin-right: 15px;

    transition: .1s ease all;

    cursor: pointer;
}

.botaoPlay:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.botaoPlay:active{
    border: 2px solid #AAA ;
}

.botaoPlay i {
    margin-right: 8px;
}

.botaoReagir {
    background-color: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .4);
    color: white;

    border-radius: 10px;

    font-size: 18px;
    padding: 10px 20px;
    margin-right: 15px;

    transition: .1s ease all;

    cursor: pointer;
}

.botaoReagir:hover {
    border: 2px solid white;
}

.container {
    margin-left: 4rem;
    margin-right: 4rem;
}

.filme-principal .container {
    width: 50%;
}

.filme-principal .titulo {
    margin-bottom: 5%;
}

.filme-infos {
    display: flex;
    margin-left: 4rem;
}


/*    LEFT INFOS      */

.filme-infos .left-infos {
    width: 50%;
}

.filme-infos .top-infos{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}


.relevancia {
    color: rgb(20, 218, 20);
}


.botaoIdade {
    background-color: red;
    color: white;

    border: none;
    border-radius: 5px;

    font-size: 18px;
    padding: 10px 10px;

}

.HD {
    background-color: rgba(255, 255, 255, .1);
    color: white;

    border: .5px solid white;
    border-radius: 5px;

    font-size: 14px;
    padding: 3px 15px;

}


.filme-infos .bottom-infos {
    font-size: 20px;
}


/*     RIGHT INFOS      */

.right-infos{

    width: 30%;
    padding-left: 10rem;

    font-family: Arial, Helvetica, sans-serif;

}

.filme-infos .right-infos .titulo {
    color: grey;
    margin-bottom: 5px;
}

.filme-infos .right-infos .elenco {
    margin-bottom: 15px;
}

.box-filme {
    display: block;
    height: 100%;
    width: 100%;

    cursor: pointer;
}

.carousel-filmes {
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.carousel-filmes .descricao-carousel {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.item {
    display: block;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;

    background-color: rgb(46, 46, 46);

}

.top-container {
    display: flex;
    justify-content: flex-end;
    height: 8rem;
    background: linear-gradient(to bottom left,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)50%), url("/img/mini1.jpg");
    background-size: cover;

    padding: 10px 10px;

}

.top-container .temporadas {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}

.middle-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 5px;
    
    padding: 10px 10px;
}

.bottom-container {
    display: block;
    
    padding: 15px 15px;
}

.bottom-container .sinopse {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    font-weight: 500;
    color: rgb(194, 194, 194);;
}

